[user]
	name = Mark Buchmoyer
  email = MBUCHMOYER@bloomberg.net

[alias]
  graph = log --graph --abbrev-commit --decorate --date=relative --color=always --format=format:'%C(bold blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  graphtwolines =log --graph --abbrev-commit --decorate --color=always --format=format:'%C(bold blue)%h%C(reset) - %C(white)%s%C(reset)%C(auto)%d%C(reset)%n''          %C(dim cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(dim white) - %an%C(reset)' --all
  lg = !"git graph"
  basename = !"basename $(git rev-parse --abbrev-ref HEAD)"
  phabbase = !"git checkout -b \"r/master/$(git basename)\""
  arcyd = !"b_name=$(git rev-parse --abbrev-ref HEAD);\
            git push origin \"HEAD:r/master/$(git basename)\";\
            git checkout -b \"r/master/$(git basename)\";\
            git branch $b_name -D"
  whois = !"sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
  changes=diff --name-status -r
  diffstat=diff --stat -r
  gitkconflict = !"gitk --left-right HEAD...MERGE_HEAD"
#  funcdiff = '!sh -c "git show \"\$0:\$2\" | sed -n \"/^[^ \t].*\$3[ \t]*(/,/^}/p\" > .tmp1 && git show \"\$1:\$2\" | sed -n \"/^[^ \t].*\$3[ \t]*(/,/^}/p\" > .tmp2 &&  git diff --no-index .tmp1 .tmp2"' -
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"

# from http://stackoverflow.com/a/22875140/351028
  #quick look at all repo
  loggsa = log --color --date-order --graph --oneline --decorate --simplify-by-decoration --all
  #quick look at active branch (or refs pointed)
  loggs  = log --color --date-order --graph --oneline --decorate --simplify-by-decoration
  #extend look at all repo
  logga  = log --color --date-order --graph --oneline --decorate --all
  #extend look at active branch
  logg   = log --color --date-order --graph --oneline --decorate
  #Look with date
  logda  = log --color --date-order --date=local --graph --format=\"%C(yellow bold)%h%Creset %C(blue bold)%ad%Creset %C(auto)%d%Creset %s\" --all
  logd   = log --color --date-order --date=local --graph --format=\"%C(yellow bold)%h%Creset %C(blue bold)%ad%Creset %C(auto)%d%Creset %s\"        
  #Look with relative date
  logdra = log --color --date-order --graph --format=\"%C(yellow bold)%h%Creset %C(blue bold)%ar%Creset %C(auto)%d%Creset %s\" --all
  logdr = log --color --date-order --graph --format=\"%C(yellow bold)%h%Creset %C(blue bold)%ar%Creset %C(auto)%d%Creset %s\"  


# from http://stackoverflow.com/a/22481650/351028
  tree = log --all --graph --decorate=short --color --format=format:'%C(bold blue)%h%C(reset) %C(auto)%d%C(reset)\n         %C(black)[%cr]%C(reset)  %x09%C(black)%an: %s %C(reset)'

[color]
	ui = true
[commit]
  template = /home/mbuchmoyer/.gitcommit
[push]
	default = current
[core]
	pager = "less -i -R -S -# 4"
