$include /etc/inputrc

# no beeping
set bell-style none

# FastX
"\e[1;5C": forward-word
"\e[1;5D": backward-word

#Putty
# "\eOC": forward-word
# "\eOD": backward-word

$if mode=vi
  set keymap vi-insert
  "fj": vi-movement-mode
$endif
