[submodule "pydotfileinstaller"]
	path = pydotfileinstaller
	url = https://github.com/buchmoyerm/pydotfileinstaller
	branch = origin/master
[submodule "oh-my-zsh"]
  path = dotfiles/.oh-my-zsh
  url = https://github.com/ohmyzsh/ohmyzsh
	branch = origin/master
[submodule "zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = origin/master
[submodule "zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = origin/master
[submodule "powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
	branch = origin/master
[submodule "async"]
	path = .oh-my-zsh/custom/plugins/async
	url = https://github.com/mafredri/zsh-async
	branch = origin/master
[submodule "zsh-vi-mode"]
	path = .oh-my-zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
	branch = origin/master
[submodule "fast-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
